.list_1{
	margin: 0 auto;
	margin-top: 30px;
	width: 1200px;
	text-align: center;
}
.footer{
	margin-top: 30px;
	background: #999999;
	width: 100%;
	height: 123px;
	text-align: center;
	
}
.footer_ul{
	padding-top: 35px;
	height: 20px;
	width: 930px;
	margin: 0 auto;	
	color: white;
	padding-left: 250px;
}
.footer_ul li{
	float: left;
	border-right: 2px solid white;
	margin-right: 20px;
	width: 130px;
	font-size: 16px;
}
.footer_ul li a{
	color: white;
}
.footer_ul li:last-child{
	border-right: none;
}
.banquan{
	margin-top: 20px;
	color: white;
	font-size: 14px;
}