.main{
	margin: 0 auto;
	margin-top: 15px;
	width: 1200px;
	overflow: hidden;
	z-index: 1;
}
.small_ul{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666666;
	padding-left: 15px;
	width: 100%;
	height: 21px;
}
.small_ul li{
	float: left;
	margin-right: 8px;
}
.small_ul a{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666666;
}
.bnner{
	margin-top: 15px;
}
.my_h{
	margin-top: 15px;
	width: 100%;
	text-align: left;
	color: white;
	font-size: 16px;
	font-family: "微软雅黑";
}
.Control{
	border: solid 1px #ccc;
    height: 50px;
    width: 100%;
    background-color: #E0DEDA;
}
.Control_ul{
	margin: 10px 0 0 12px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #999;
    border-left: 0 none;
   float: left;
   color: #666666;
   background: #FFFFFF;
   font-size: 14px;
   font-family: "微软雅黑";
}
.Control_ul li{
	float: left;
	border-left: solid 1px #999;
}
.Control_ul li:first-child{
	padding: 0 10px 0 15px;
}
.Control_ul li a{
	float: left;
    color: #666;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;   
}
.Control_ul li a img{
	margin-left: 2px;
    margin-top: -2px;
}
.Control_ul li a.Control_ul_afirst {
    background-color: #005BAC;
    color: #fff;
}
.Control_ul_afirst a{
	color:#FFFFFF;
}
.Control_ul li a:hover{ 
	text-decoration:none; 
	background-color:#005BAC; 
	color:#fff;
}
.jiag_pxDiv{
	padding: 10px 0;
	border: solid 1px #0066CC;
    width: 120px;
    top: 28px;
    left: -1px;
}
.jiag_pxDiv a {
    width: 80px;
}
.jiag_pxDiv a:hover{
	 color:#0066CC;
}
.jiag_px:hover .jiag_pxDiv{
	 display:block;
}
.ListAll{
	margin-right: -15px;
}
.List{
	width: 290px;
    height: 380px;
    margin: 15px 13px 0 0;
    overflow: hidden;
    float: left;
}
.ListAll .List a{
    border: solid 1px #A9A9A8;
    text-align: center;
    display: block;
}
.List a img{
	width: 280px;
	height: 280px;
}
.List_p1{
	width: 275px;
    padding: 0 5px 0 10px;
    line-height: 22px;
    margin-top: 5px;
    height: 46px;
    overflow: hidden;
    font-size: 14px;
    font-family: "宋体";
}
.List_p2{
	font-size: 16px;
    font-family: "宋体";
    margin-top: 3px;
    padding-left: 10px;
}
.List_p2 span{
	color: #0066CC;
    font-weight: bold;
}
.List_p3{
	padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    font-family: "宋体";
    text-decoration: line-through;
}
/*分页*/
.Paging{
	margin: 40px 20px 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 40px;
}
.Paging_form{
	float:right;
}
.Paging_form label{
	float: left;
    color: #666;
}
.Paging_form .text_Input{
	float: left;
    border: solid 1px #eee;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 5px;
    color: #666;
}
.Paging_form .sub_input{
	float: left;
    border: solid 1px #eee;
    text-align: center;
    background-color: #F4F4F4;
    height: 37px;
    font-family: "微软雅黑";
    font-size: 14px;
    width: 45px;
    color: #666;
    margin-left: 7px;
    cursor: pointer;
}
.Paging_div{
	float: right;
}
.Paging_div a{
	float: left;
    color: #666;
    border: solid 1px #CECECE;
    margin-right: 5px;
    padding:0 13px;
    background-color: #F4F4F4;
    text-decoration: none;
}
.Paging_div .pagingA{
	color: #0066CC;
    background: none;
}
.Paging_div .pagingFirst{
	border: none;
    color: #0066CC;
    background: none;
}
.Paging_div span{
	float: left;
    margin: 0 15px;
}
/*返回顶部*/
.backgTop{
	display: block;
    background: url(../images/result-top-btn.png) no-repeat;
    width: 70px;
    height: 65px;
    position: fixed;
    right: 50px;
    bottom: 180px;
    cursor: pointer;
    z-index: 15;
}




