.logo{
	width: 1200px;
	margin: 0 auto;
	padding-top: 25px;
	text-align: center;
}
.banner{
	width: 100%;
	min-height:537px;
	padding-bottom: 30px;
	margin-top: 25px;
	background: url(../images/loginChoice_con.png) no-repeat;
}
.bannerCenter{
	width: 1200px;
	margin: 0 auto;
	padding-top: 55px;
}
.logo_h2{
	width: 778px;
	height: 60px;
	background: url(../images/logtitleH2.png) no-repeat;
	margin: 0 auto;
}
.mainCeter{
	width: 778px;
	margin: 0 auto;
	margin-top: 30px;
	background: darkcyan;
}
.mainCeter_fl{
	float: left;
	width: 350px;
}
.mainCeter_fr{
	float: right;
}
.mainCeter img{
	display: block;
}
.mainCeter a{
	margin-top: 20px;
	display: block;
	width:350px;
	height: 72px;
	line-height: 72px;
	text-align: center;
	font-size: 26px;
	font-family: "微软雅黑";
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}
.mainCeter_fl .mainCeter_flA1{
	background: url(../images/activityLanred.png) no-repeat;
}
.mainCeter_fl .mainCeter_flA1:hover{
	background: url(../images/activityLanredhover.png) no-repeat;
}
.mainCeter .mainCeter_flA2{
	background: url(../images/activityLanhover.png) no-repeat;
}
.mainCeter_fr .mainCeter_flA1{
	background: url(../images/activityHui.png) no-repeat;
}
.mainCeter .mainCeter_flA2:hover{
	background: url(../images/activityLan.png) no-repeat;
}

