.main{
	margin: 0 auto;
	margin-top: 15px;
	width: 1200px;
	overflow: hidden;
	z-index: 1;
}
.small_ul{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666666;
	padding-left: 15px;
	width: 100%;
	height: 21px;
}
.small_ul li{
	float: left;
	margin-right: 8px;
}
.small_ul a{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666666;
}
.bnner{
	margin-top: 15px;
}
.my_h{
	margin-top: 15px;
	width: 100%;
	text-align: left;
	color: white;
	font-size: 16px;
	font-family: "微软雅黑";
}
.my_h span{
	height: 34px;
    line-height: 34px;
    padding: 7px 25px;
    background: #005BAA;
}
.Empty_car{
	width: 100%;
	height: 28px;
	margin-top: 10px;
	line-height: 28px;
}
.Empty_car_lf{
	float: left;

}
.Empty_car_lf_check{
	margin-left: 10px;
}
.check{
	margin-left:15px ;
	font-size: 14px;
	font-family: "微软雅黑";	
}
.check_del{
	cursor: pointer;
	margin-left:40px ;
	font-size: 14px;
	font-family: "微软雅黑";	
}
.Empty_car_rg{
	float: right;
	width: 111px;
    height: 28px;
    background: url(../images/emptySpan.jpg) no-repeat;
    font-size: 16px;
    color: white;
    cursor: pointer;
	font-family: "微软雅黑";	
	margin-right: 15px;
}
.ShoppingList{
	margin-top: 10px;
	border: solid 1px #BBB4B4;
    padding: 8px 0 5px 8px;
    width: 99%;
    overflow: hidden;
}
.tab{
	width: 99%; 
	height: 100%;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	text-align: center;
}

.tab tr{
	height: 33px;
}
.tab th{
	text-align: center;
    background-color: #999;
    font-weight: bold;
    border: solid 1px #BBB4B4;
    color: white;
}
.tab td{
	border: solid 1px #BBB4B4;
}
.shop_tu{
	padding: 15px  0;
	width:304px;
	height: 119px;
}
.shop_tu input{
	margin-right: 10px;
}
.shop_tu img{
	width: 90px;
	height: 90px;
	margin-top: 10px;
}
.shop_tu span{
	margin-left: 10px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	width: 160px;
	display:inline-block;
	text-align-last: left;
}
.tab .jifen{
	width: 120px;
}
.tab .jia{
	color: rgb(201, 23, 53); 
}
.tab .jian{
	color: rgb(233, 233, 233);
    cursor: default;
}
.tab .jianClick{
	color: rgb(201, 23, 53); 
	cursor: pointer;
}
.jia,.jian{
	width: 25px;
	height: 25px;
	background: white;
	outline: none;
	border: none;
	border:1px solid #BBB4B4;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}
.shuru{
	height: 25px;
	width: 57px;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
.yinxiang{
	width: 160px;
    max-height: 67px;
    overflow: hidden;
    margin-top: 15px;
}
.xiaoji{
	width: 170px;
}
.guige{
	width:253px;
}
.del{
	cursor: pointer;
	width: 129px;
	color: #333333;
}
.zongji{
	height: 45px;
	line-height: 45px;
}
.boer{
	position: relative;
	bottom: 20px;
}
.xinx{
	position: relative;
	top: 10px;
}
.Empty_car_ri{
	float: right;
	margin-right: 10px;	
	font-size: 14px;
}
.Empty_car_ri p{
	float: right;
	margin-left: 40px;
}
.Empty_car_ri p span{
	color: #FC0C0C;
	font-size: 16px;
	font-weight: bolder;
}
.Account{
	padding: 20px;
}
 .Account .Account_lf{
 	display: inline-block;
	background: url(../images/immedOrder.png) no-repeat;
	width: 183px;
	height: 50px;
}
.Account .Account_rg{
	display: inline-block;
	background: url(../images/immedOrder.png) no-repeat 0 -100px;
	width: 183px;
	height: 50px;
	float: right;
}
.tab tr.bbg{
	background:#F7E5C6;
}

